<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosmo.kosmofurniture.mapper.CartMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="cartId">
        INSERT cart (member_id, product_id, quantity) VALUES (#{memberId}, #{productId}, #{quantity})
    </insert>

    <select id="findAllByMemberId" resultType="cart">
        SELECT * from cart where member_id = #{memberId}
    </select>

    <delete id="deleteById">
        delete from cart where cart_id = #{cartId}
    </delete>

    <delete id="deleteAllByMemberId">
        delete from cart where member_id = #{memberId}
    </delete>

    <delete id="deleteAll">
        delete from cart
    </delete>

    <resultMap id="cartDto" type="com.kosmo.kosmofurniture.domain.CartDto" >
        <result property="cartId" column="cart_id" />
        <result property="quantity" column="quantity" />
        <result property="imageFileName" column="db_file_name" />
        <association property="product" javaType="com.kosmo.kosmofurniture.domain.Product">
            <id property="productId" column="product_id"/>
            <result property="name" column="name"/>
            <result property="price" column="price"/>
        </association>
    </resultMap>

    <select id="findAllDtoByMemberId" resultMap="cartDto">
        select c.cart_id, c.quantity, i.db_file_name, p.product_id, p.name, p.price
            from cart c
                join product p on p.product_id = c.product_id
                join product_image i on i.product_id = p.product_id
            where c.member_id = #{memberId}
            group by cart_id
    </select>
</mapper>