<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosmo.kosmofurniture.mapper.MapMarkerMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="mapMarkerId">
        INSERT map_marker (branch_name, latitude, longitude, city) VALUES (#{branchName}, #{latitude}, #{longitude}, #{city})
    </insert>

    <select id="findById" resultType="mapMarker">
        SELECT * from map_marker where map_marker_id = #{mapMarkerId}
    </select>

    <select id="findByCity" resultType="mapMarker">
        SELECT * from map_marker where city = #{city}
    </select>

    <select id="findAll" resultType="mapMarker">
        SELECT * from map_marker
    </select>

    <delete id="deleteAll">
        delete from map_marker
    </delete>

    <update id="setAutoIncToZero">
        ALTER TABLE map_marker AUTO_INCREMENT = 1
    </update>
</mapper>