<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosmo.kosmofurniture.mapper.ProductImageMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="productImageId">
        INSERT product_image (product_id, original_file_name, db_file_name) VALUES (#{productId}, #{originalFileName}, #{dbFileName})
    </insert>

    <select id="findByProductId" resultType="productImage">
        SELECT * from product_image where product_id = #{productId}
    </select>

    <select id="findOneByProductId" resultType="productImage">
        SELECT * from product_image where product_id = #{productId} limit 1
    </select>

    <delete id="deleteByProductId">
        delete from product_image where product_id = #{productId}
    </delete>

    <delete id="deleteAll">
        delete from product_image
    </delete>

    <update id="setAutoIncToZero">
        ALTER TABLE product_image AUTO_INCREMENT = 1
    </update>
</mapper>