
#loginForm {
    padding: 40px;
    background-color: rgb(202, 206, 197);
    z-index: 0;
}
.login-div .top {
    position: relative;
    width: 400px; 
}

.login-div .top li{
    list-style: none;
    padding: 0 0 9px;
}
.login-div .top li label{
    display: inline-block;
    width: 69px;
    font-weight: bold;    
    font-size: 13px;
    color: #464646;
}

.login-div .top li input [type="text"],
.login-div .top li input [type="password"]{
    width: 146px;
    height: 31px;
    padding: 0;
    border-color: #d9d9d9;
}

.login-div .top li #login{
    display: block;
    width: 109px;
    height: 70px;
    background: #949696;
    font-size: 17px;
    color: #fff;
    text-align: center;
    line-height: 70px;
    font-weight: bold;
    border :1px solid #778f28;
    position: absolute;
    right: 0;
    top: 0;
}

.login-div .top li .save{
    padding: 0 0 0 59px;
    font-weight: normal;
}

.login-div .top li .save label{
    font-weight: normal;
}

.login-div .btm{
    font-size: 5px;
    padding: 10px 10px 10px 10px;
    background-color: white;
    position: relative;
    left: 300px;
    top : -60px;
    bottom: 300px;
    border-radius: 100px;
    letter-spacing: 5px;
    z-index: 1;
    transition: ease-out 0.3s;
    border-style: hidden;
}
.login-div .btm:before{
    transition: 0.5s all ease;
    position:absolute;
    border-radius: 100px;
    top:0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 1;
    content: "";
    background-color: #949696;
    
}
.login-div .btm:hover:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.login-div .btm #mem{
    color: black;
}
